<div class="containerNavBarGrid">
  <div class="containerLogo">
    <img src="../../../assets/img/logo.JPG" alt="" class="logoNavBar">
  </div>
  <div class="containerNavItems">
    <div class="itemsGrid">
      <div class="itemNavBar">
        <a mat-button routerLink='/index'>{{ "INICIO" | translate}}</a>
      </div>      
      <div class="itemNavBar">
        <a mat-button routerLink='/services'>{{ "CAPACIDADES" | translate}}</a>
      </div>      
      <div class="itemNavBar">
        <a mat-button routerLink='/clients'>{{ "NUESTROS CLIENTES" | translate}}</a>
      </div>      
      <div class="itemNavBar">        
        <a mat-button [matMenuTriggerFor]="belowMenuLinks">{{ "LINKS DE INTERES" | translate}}<i class="fa fa-sort-down"></i></a>
        <mat-menu class="linksPanel" #belowMenuLinks="matMenu" yPosition="below">
          <div class="divSelect Links"><a href="http://www.renar-naviera.com.ar/" target="_blank">{{"Renar" | translate}}</a></div>
          <div class="divSelect Links"><a href="http://www.industrianaval.org.ar/inicio.php" target="_blank">
            {{"Asociación Bonaerense de la industria Naval"|translate}}
          </a></div>
          <div class="divSelect Links"><a href="http://www.histarmar.org/" target="_blank">{{"Histarmar" | translate}}</a></div>
          <div class="divSelect Links"><a href="http://www.meysupply.net/" target="_blank">{{"Meysupply Representaciones" | translate }}</a></div>
        </mat-menu>        
      </div>      
      <div class="itemNavBar">
        <a mat-button>{{ "NOVEDADES" | translate}}</a>
      </div>      
      <div class="itemNavBar">
        <a mat-button [matMenuTriggerFor]="belowMenu">{{ "MULTIMEDIA" | translate}}<i class="fa fa-sort-down"></i></a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <div class="divSelect"><a routerLink='/videos'>{{"Videos" | translate}}</a></div>
          <div class="divSelect"><a routerLink='/photos'>{{"Fotos" | translate}}</a></div>
        </mat-menu>
      </div>      
      <div class="itemNavBar">
        <a mat-button>{{ "CONTACTENOS" | translate}}</a>
      </div>      
      <div class="itemNavBar itemLang">
        <a mat-button class="itemLang" (click)="changeLanguage()">{{ "EN" | translate}}<i class="fa fa-sort-down"></i></a>
      </div>      
    </div>
  </div>
</div>

<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
