<div class="containerContact">
  <div class="titleContact">{{"CONTACTO" | translate}}</div>
  <div class="subtituleContact">{{"ESCRIBINOS TUS CONSULTAS" | translate }}</div>
  <div class="gridContact">
    <div class="inputText name"><input type="text" placeholder="{{'NOMBRE' | translate}}"></div>
    <div class="inputText email"><input type="text" placeholder="{{'EMAIL' | translate}}"></div>
    <div class="inputText phone"><input type="text" placeholder="{{'TELEFONO' | translate}}"></div>
    <div class="inputText subject"><input type="text" placeholder="{{'ASUNTO' | translate}}"></div>
    <div class="inputMessage message"><textarea name="message" id="" placeholder="{{'MENSAJE' | translate}}"></textarea></div>
    <button class="btnContact delete">{{"BORRAR" | translate}}</button>
    <button class="btnContact send">{{"ENVIAR" | translate}}</button>
    <div class="mapContact"><img src="../../../assets/img/map.JPG" alt=""></div>
  </div>
  
</div>