<div class="containerContact" id="contact">
  <div class="titleContact">{{"CONTACTO" | translate}}</div>
  <div class="subtituleContact">{{"ESCRIBINOS TUS CONSULTAS" | translate }}</div>
  <div class="gridContact">
    <div class="inputText name"><input type="text" placeholder="{{'NOMBRE' | translate}}"></div>
    <div class="inputText email"><input type="text" placeholder="{{'EMAIL' | translate}}"></div>
    <div class="inputText phone"><input type="text" placeholder="{{'TELEFONO' | translate}}"></div>
    <div class="inputText subject"><input type="text" placeholder="{{'ASUNTO' | translate}}"></div>
    <div class="inputMessage message"><textarea name="message" id="" placeholder="{{'MENSAJE' | translate}}"></textarea></div>
    <div class="buttons">
    <button class="btnContact delete">{{"BORRAR" | translate}}</button>
    <button class="btnContact" (click)="sendForm()">{{"ENVIAR" | translate}}</button>
    </div>
    <!-- <div class="mapContact"><img src="../../../assets/img/map.JPG" alt=""></div> -->
    <div class="mapContact"><iframe src="http://maps.google.com/maps?q=-38.045905,-57.535072&z=15&output=embed"></iframe></div>
  </div>
  
</div>