<app-navigation-secondary></app-navigation-secondary>
<div class="principalHeader">  
  <div class="divImg">
    <img class="imgHeader" src="../../../assets/img/header.jpg" alt="">
  </div>
  <div class="weatherPrincipal">
    <app-weather></app-weather>
  </div>  
  <div class="textHeader">
    <div class="textHeaderTitle"><span>HYDROSERVICES</span></div>
    <div class="textHeaderDesc"><span>{{ "SALVAMENTO Y BUCÉO" | translate }}</span></div>
  </div>  
<div>
<!-- <div class="weatherMobile">
  <app-weather></app-weather>
</div> -->
