/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@font-face
{
    font-family: RalewayBold;
    src:url(./assets/fonts/Raleway-Bold.ttf);
}

@font-face
{
    font-family: RalewayMed;
    src:url(./assets/fonts/Raleway-SemiBold.ttf);
}

@font-face
{
    font-family: RalewayReg;
    src:url(./assets/fonts/Raleway-Regular.ttf);
}

@font-face
{
    font-family: RalewayLight;
    src:url(./assets/fonts/Raleway-Light.ttf);
}

@font-face
{
    font-family: RalewayThin;
    src:url(./assets/fonts/Raleway-Thin.ttf);
}

html { font-size: calc(1em + 1vw) }

body
{
    font-family: RalewayMed !important;
    margin:0 !important;
    scroll-behavior: smooth;
}

a
{
    text-decoration: none !important;
    color:#989898 !important;
    font-size: 0.44em;
    /* font-weight: bold; */
}

.linksPanel
{
    min-width: 350px !important;
    max-width: unset !important;
    border-radius: 0 !important;
}

.linksPanelMultimedia
{
    border-radius: 0 !important;
}

.mat-button-wrapper
{
    text-decoration: none !important;
    color:#989898 !important;
    font-size: 0.95em;
    font-family: RalewayMed !important;    
}

.mat-button
{
    padding:0 0 !important;
}

.mat-button-focus-overlay 
{
    background-color: transparent;
    transition: unset !important;
}

.itemLang > .mat-button-wrapper
{
    color:#4A95CD !important;
    font-size:0.9em !important;  
}


.gm-style .place-card-medium
{
    display: none !important;
}


.place-card .place-card-medium
{
    display: none !important;
}


.modalMultimedia .modal-dialog
{    
    max-width: unset !important;
    width: 65vw;
}

.modalMultimedia .modal-body
{
    width:75vw !important;
    max-width: unset !important;
    margin: auto;
    padding-bottom:0rem;
}

.modalMultimedia .modal-content
{
    margin:auto auto;
    width:90%;
    height: 100vh;
    border-radius: 0 !important;
    border: none !important;
}


  
@media screen and (max-width: 500px) 
{   

    .modalMultimedia .modal
    {
        height: 40%;
        top:30%;
    }

    .modalMultimedia .modal-dialog
    {        
        width: 100vw;
        /* margin:auto; */
        margin:30% auto;
        height: 50vh;
    }

    .modalMultimedia .modal-body
    {
        /* width:75vw !important; */
        width:100% !important;
        max-width: unset !important;
        margin: auto;
        padding-bottom:0rem;
    }

    .modalMultimedia .modal-content
    {
        margin:auto auto;
        width:100%;
        height: 100vh;
    }

    .linksPanelMultimedia
    {
        min-width: 280 !important;
        max-width: unset !important;
    }

}

.mat-expansion-panel-body 
{    
    font-family: ralewayReg !important; 
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description 
{
    color:white;
    width:10%;
}

.mat-expansion-indicator .ng-tns-c13-5 .ng-trigger .ng-trigger-indicatorRotate .ng-star-inserted
{
    width:10% !important;
    color:white !important;
}

.mat-expansion-panel-header
{
    margin-right:0.5em;
}