<div class="footerAdmin">
    <div class="imgFooter">
            <img src="../../../assets/img/mm_logo.png" alt="" class="imgMM">
    </div>
    <div class="itemFooter">
        <i class="fas fa-envelope"></i>
        <div class="textItemFooter">info@marcelamosca.com.ar</div>
    </div>
    <div class="itemFooter">
            <i class="fab fa-whatsapp"></i>
        <div class="textItemFooter">+ 54 9 11 1234-1234</div>
    </div>
    <div class="itemFooter">
            <i class="fa fa-phone"></i>
        <div class="textItemFooter">+ 54 9 11 1234-1234</div>
    </div>
    <div class="itemFooter">                
            <div class="textItemFooter">www.marcelamosca.com.ar</div>
        </div>
</div>