<div class="headerAdmin">
        <div class="logo">
            <img src="../../../assets/img/mm_logo.png" alt="" class="imgLogo">
        </div>
        <div class="usuario">
            <div class="usuarioRight">
                <div class="imgAdmin"><img src="../../../assets/img/logo_img.JPG" style="width:70%" alt=""></div>
                <div class="textUsuario">ADMIN</div>            
                <div class="arrow"><i class="fas fa-chevron-down"></i></div>
            </div>                        
        </div>
</div>      

<!-- <div class="divNavigationContainer">
    <div id="main" *ngIf="this.btnOpen=='true'">    
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
    </div>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">CLIENTES</a>
        <a href="#">NOVEDADES</a>
        <a href="#">LOGROS</a>
        <a href="#">VIDEOS</a>
        <a href="#">FOTOS</a>
    </div>
        
</div>
   -->

