<div class="divNavigationContainer">

<div id="mySidenav" class="sidenav">    
    <div class="titleMenu">MENU</div>
      <a routerLink='/admin/clients' id="clientLink" class="itemMenu"><i id="arrowClients" class="fas fa-chevron-down arrowMenu"></i>CLIENTES</a>
      <a routerLink='/admin/novedades' id="newsLink" class="itemMenu"><i id="arrowNews" class="fas fa-chevron-down arrowMenu"></i>NOVEDADES</a>
      <a routerLink='/admin/logros' id="logrosLink" class="itemMenu"><i id="arrowAchiev" class="fas fa-chevron-down arrowMenu"></i>LOGROS</a>
      <a routerLink='videos' id="videosLink" class="itemMenu"><i id="arrowVideos" class="fas fa-chevron-down arrowMenu"></i>VIDEOS</a>
      <a routerLink='photos' id="photosLink" class="itemMenu"><i id="arrowPhotos" class="fas fa-chevron-down arrowMenu"></i>FOTOS</a>      
  </div>
</div>
  
  


<!-- <div class="containerNavBarGrid">
    <div class="containerLogo">
      <a routerLink='/index'><img src="../../../assets/img/logo.JPG" alt="" class="logoNavBar"></a>      
    </div>
    <div class="containerNavItems">
      <div class="itemsGrid">                       
        <div class="itemNavBar">
          < mat-button routerLink='/admin/clients'>CLIENTES</a>
        </div>              
        <div class="itemNavBar">
          <a mat-button routerLink='/admin/novedades'>{{ "NOVEDADES" | translate}}</a>
        </div>   
        <div class="itemNavBar">
            <a mat-button routerLink='/admin/logros'>LOGROS</a>
        </div>    
        <div class="itemNavBar">
          <a mat-button [matMenuTriggerFor]="belowMenu">{{ "MULTIMEDIA" | translate}}<i class="fa fa-sort-down"></i></a>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <div class="divSelect"><a routerLink='videos'>{{"Videos" | translate}}</a></div>
            <div class="divSelect"><a routerLink='photos'>{{"Fotos" | translate}}</a></div>
          </mat-menu>
        </div>            
        <div class="itemNavBar">
            <button mat-button (click)="logOut()">Cerrar Sesion</button>
        </div> 
        </div>            
    </div>
  </div>
   -->