.sidenav {
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: -1;
    top: 8vh;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
    border-right: solid 1px #EAEAEA;
    font-family: RalewayReg;
    font-size:0.8em;
    color:#808080;    
  }
  
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding-left:1em;
    text-decoration: none;
    font-size: 0.7em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .itemMenu
  {
    border-bottom: solid 1px #EAEAEA;    
    padding: 0.5em 0 0.5em 1em;    
  }

  .titleMenu
  {
    border-bottom: solid 1px #EAEAEA;
    font-family: RalewayBold !important;
    font-size: 1em !important;
    padding-left:0.7em;
  }

  .arrowMenu
  {
    margin-right:1em;
  }

/* .containerNavBarGrid
{
    display: grid;
    grid-template-columns: 33% 67%;
    margin: 1.5em 0.5em 1.5em 1.5em;
    width:95%;
}

.logoNavBar
{
    width: 68%;
}

.itemsGrid
{
    display: grid !important;
    grid-template-columns: repeat(8,auto);
    column-gap: 0.5em;
}

.fa
{
    font-size: 1.6em;
    margin-left:0.2em;
    margin-bottom: 0.5em;
}

.itemLang > a
{
    color:#4A95CD !important;
    font-size:0.47em !important;    
}

a
{
    white-space: nowrap;
}

.divSelect .Links
{    
    width:350px;
}

.divSelect
{
    padding-left:1em;
}

 */
