<div class="containerHistory" id="history">  
  <div class="divHistory">
    <div class="titleHistory">
      {{"SOBRE HYDROSERVICE" | translate}}
    </div>
    <div class="subtitleHistory">
      {{"CONOCE NUESTRA HISTORIA" | translate}}
    </div>
    <div class="divTextHistory">
      <p>{{"H1" | translate}}</p>
      <p>{{"H2" | translate}}</p>
      <p>{{"H3" | translate}}</p>
      <p>{{"H4" | translate}}</p>
      <p>{{"H5" | translate}}</p>
      <p>{{"H6" | translate}}</p>
      <p>{{"H7" | translate}}</p>
      <p>{{"H8" | translate}}</p>
      <p><i class="fa fa-circle"></i>Llodys Register</p>
    </div>  
  </div>  
</div>