.containerHistory
{
    height: fit-content;
    padding-bottom: 1em;
}

.divHistory
{    
    padding:4em 0 2em 0;
    margin:auto auto;
    height:80%;
    display: grid;
    grid-template-columns: 26% 54% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". title ."
                        ". subtitule ."
                        ". textHistory .";
    position:relative;
    background-image: url('../../../assets/img/logo_back_mob.jpg');
    background-size:auto;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 40%;
}

.titleHistory
{
    color:#79B9D9;
    grid-area:title;    
    font-family: RalewayLight;
    font-size: 1.4em;
}

.subtitleHistory
{
    color:#4A95CD;
    grid-area:subtitule;
    font-family:RalewayBold;
    font-size:0.6em;
}

.divTextHistory
{
    padding-top:1em;
    grid-area:textHistory;
    font-family: RalewayReg;
}

.divTextHistory > p
{
    font-size:0.5em;
    color:#66B8DC;
    margin-bottom:0.6em;    
}

.fa
{
    font-size:0.35em !important; 
    vertical-align: middle;
    padding-right:0.4em;
}


@media screen and (max-width: 500px) 
{
    .titleHistory
    {
        font-size: 1.3em;
        white-space: nowrap;
    }  

    .divHistory
    {
        grid-template-columns: 8% 84% 8%;
        background-image: url(../../../assets/img/logo_mobile.jpg);
        background-position-x: 0%;
        background-position-y: 23%;
    }

    .divTextHistory
    {
        color:#4C99D0;
        font-size: 1.4em;
        
    }
}
