<div class="containerFooter">
  <div class="gridFooter">
    <div class="divContacto">
      <p class="title">{{"Contacto" | translate}}</p>
      <p class="title paddingTop">Mar del Plata</p>
      <p>B/P Estrella de Sur 1134 (ex 1007)<br>
        Puerto de Mar del Plata<br>
        Provincia de Buenos Aires - Argentina
      </p>
      <p class="paddingTop">{{"Tel/Fax" |translate}}: 0223-480-6002</p>
      <p class="paddingTop">{{"Celular"|translate}}: 0223-156195209</p>
      <p class="paddingTop">info@hydroservices.com.ar</p>
    </div>
    <div class="divRepresentante">
      <p class="title paddingTopMobile">{{"Representante" | translate }}</p>
      <p>Juan Piotto</p>
      <p class="title paddingTop">Puerto Quequén</p>
      <p>Calle 24 Nº 3738 | Puerto Quequén <br> 
        Provincia de Buenos Aires - Argentina
      </p>
      <p class="paddingTop">{{"Teléfono"|translate}}: 02262-430648</p>
      <p class="paddingTop">{{"Celular"|translate}}: 02262-15488338</p>
      <p class="paddingTop">jpiotto@redep.net</p>
    </div>
    <div class="divNewsletter">
      <p class="title paddingTopMobile">Newsletter</p>
      <p>{{"Enterate de las últimas novedades" | translate }}</p>
      <div class="emailNewsLetter">
        <input class="inputEmail" type="email" placeholder="Ingresa tu e-mail">            
        <img class="imgNewsLetter" src="../../../assets/img/newsletter.png" alt="">
      </div>    
      <div class="redesSociales">
        <p class="title paddingTop">{{"Seguinos" |translate}}</p>
        <div class="divLogosRS">
          <a href="https://www.facebook.com/HydroservicesSrl" target="_blank"><p><i class="fab fa-facebook"></i></p></a>
          <a href="https://www.youtube.com/channel/UC-nsGPcSwQqvbUnl5iOdEEg" target="_blank"><p><i class="fab fa-youtube"></i></p></a>      
        </div>
      </div>
    </div>
    <div class="divCertificaciones">
      <p class="title">{{"Certificaciones" | translate}}</p>
      <div class="imgCert">
        <img src="../../../assets/img/loyds_logo.jpg" alt="" class="cert">
      </div>
    </div>

  </div>
  <div class="footerMM">
    <div class="gridFooterMM">
      <div class="textLeftFooterMM">Copyright 2019 | Hydroservices S.R.L. Todos los derechos reservados</div>
      <div class="divTxtRightFooterMM">
        <div class="txtRightFMM">
          Diseño y Desarrollo
        </div>
        <div class="imgRightFMM">
          <img src="../../../assets/img/mm_logo_sm.png" alt="" class="imgRightFMM">
        </div>
      </div>
    </div>
  </div>
</div>