<div class="containerFooter">
  <div class="gridFooter">
    <div class="divContacto">
      <p class="title">{{"Contacto" | translate}}</p>
      <p class="title paddingTop">Mar del Plata</p>
      <p>B/P Estrella de Sur 1134 (ex 1007)<br>
        Puerto de Mar del Plata<br>
        Provincia de Buenos Aires - Argentina
      </p>
      <p class="paddingTop">{{"Tel/Fax" |translate}}: 0223-480-6002</p>
      <p class="paddingTop">{{"Celular"|translate}}: 0223-156195209</p>
      <p class="paddingTop">info@hydroservices.com.ar</p>
    </div>
    <div class="divRepresentante">
      <p class="title">{{"Representante" | translate }}</p>
      <p>Juan Piotto</p>
      <p class="title paddingTop">Puerto Quequén</p>
      <p>Calle 24 Nº 3738 | Puerto Quequén <br> 
        Provincia de Buenos Aires - Argentina
      </p>
      <p class="paddingTop">{{"Teléfono"|translate}}: 02262-430648</p>
      <p class="paddingTop">{{"Celular"|translate}}: 02262-15488338</p>
      <p class="paddingTop">jpiotto@redep.net</p>
    </div>
    <div class="divNewsletter">
      <p class="title">Newsletter</p>
      <p>{{"Enterate de las últimas novedades" | translate }}</p>
      <input type="text" placeholder="Ingresa tu e-mail">      
      <p class="title paddingTop">{{"Seguinos" |translate}}</p>
      <p><i class="fab fa-facebook"></i><i class="fab fa-youtube"></i></p>
    </div>
    <div class="divCertificaciones">
      <p class="title">{{"Certificaciones" | translate}}</p>
    </div>

  </div>
</div>