<div class="divContainer">
<div class="divForm">
<form  (ngSubmit)="enviar()" class="form-horizontal">
  <div class="label"><label for="inputEmail3" class="control-label">Usuario</label></div>
    <div class="form-group row" >            
      <input type="email" [(ngModel)]="user.email" name='email' required class="form-control" id="inputEmail3">
    </div>
    <div class="label"><label for="inputPassword3" class="control-label">Contraseña</label></div>    
    <div class="form-group row">            
      <input type="password" [(ngModel)]="user.password" name="clave" required class="form-control" id="inputPassword3">       
    </div>    
    <button type="submit" class="btn-sm btn-secondary">Enviar</button>
  </form>
</div>
</div>