<div class="containerWeather">
     <div class="city text-uppercase">{{cityName}}</div>        
     <div class="divImg" [ngSwitch]="weatherCondition">
        <div *ngSwitchCase="'Sunny'" class="divImgWeather"><img class="imgWeather" width="90px" src="../../../assets/img/weather/cloudy.png" alt=""></div>
        <div *ngSwitchCase="'Rainy'" class="divImgWeather"><img class="imgWeather" width="90px" src="../../../assets/img/weather/cloudy.png" alt=""></div>
        <div *ngSwitchCase="'Clouds'" class="divImgWeather"><img class="imgWeather" width="90px" src="../../../assets/img/weather/cloudy.png" alt=""></div>
     </div>
     <div class="weatherCond text-uppercase">{{weatherCondition}}</div>
     <div class="textWeather">
          <div class="weatherTitle">{{"Viento" | translate}}</div><div class="weather">{{wind}} km/h</div>
          <div class="weatherTitle">{{"Humedad" | translate }}</div><div class="weather">{{humidity}} %</div>
          <div class="weatherTitle">{{"Presion" | translate }}</div><div class="weather">{{pressure}} hPa</div>
          <div class="weatherTitle">{{"Salida sol" | translate }}</div><div class="weather">{{sunrise}} hs</div>
          <div class="weatherTitle">{{"Puesta sol" | translate }}</div><div class="weather">{{sunset}} hs</div>
     </div>
</div>