div{
    width:fit-content;
    display: block;
    margin:auto auto;
}

.containerWeather
{
    background-color:#4A95CD;
    color:white;
    font-size:0.4em;
    /* width: fit-content; */
    position:absolute;
    top:calc(110px + 2em);
    right: 2em;
    /* text-align: center; */
    padding:2em;    
}

.divImg
{    
    margin:auto auto;
}

.imgWeather
{
    filter: invert(100%);
}

.containerWeather
{
    width:fit-content;
}

.city   
{
    font-size:1.35em;
}

.weatherCond
{
    font-family:RalewayLight;
    font-size:1.35em;
}

.textWeather
{    
    display: grid !important;
    grid-template-columns: 50% 50%;   
    font-family:RalewayLight;
    font-size:1.2em;
    white-space: nowrap;
    margin:0;
    padding:1.5em 1.5em 0 0;
}

.weatherTitle
{
    text-align: left !important;
    margin:0 !important;
}

.weather
{
    text-align: right !important;
    margin:0 0 0 30%;
    /* margin:0 !important; */
}

.textWeather
{
    display:none;
}



.elClimaWeather
{
    display: none;
}



@media screen and (max-width: 500px) 
{
    

    .containerWeather
    {
        position: relative;
        margin:0;
        width:100% !important;
        display: grid;
        grid-template-columns: 50% 50%;
        top: 0;
        left: 0;        
    }

    .textWeather
    {
        display:relative;
    }

    .elClimaWeather
    {
        display: unset;
        font-size: 6em;
        font-family: RalewayThin;
    }

    .divWeather
    {
        border-left: solid 1px white;
        padding-left: 1.3em;
        height: 100%;

    }

    .imgWeather
    {
        width:60%;
    }

    .divImgWeather
    {
        text-align: center;
    }

    .weather
    {
        margin: 0 0 0 1em;
    }

    .textWeather
    {
        margin:auto auto;
        padding: 1.5em 0 0 0 !important;
    }

    .containerWeather
    {
        padding: 2em 1em;
    }
} 