<app-secondary-header></app-secondary-header>
<div class="containerPhotos" id="photos">
    <!-- <div class="titlePhotos">{{"FOTOS"|translate}}</div>
    <div class="subtitulePhotos">{{"IMAGENES DE ALGUNOS TRABAJOS" | translate}}</div>     -->
    <div class="gridPhotosImgs">
      <div class="divPhotos" *ngFor="let photo of photos" (click)="open(content)">                  
        <div class="divPhoto">
          <img src="{{photo.photo_url}}" alt="" class="imgNews">                    
        </div>
      
      <ng-template #content let-modal>          
          <div class="modal-body">
            <div class="divImgModal">
                <img src="{{photo.photo_url}}" alt="" class="imgModal">                    
            </div>
            <div class="descr" *ngIf="this.appService.translate.getDefaultLang()=='es'"><p>{{photo.photo_desc}}</p></div>            
            <div class="descr" *ngIf="this.appService.translate.getDefaultLang()=='en'"><p>{{photo.photo_desc_eng}}</p></div>            
          </div>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="btnClose">{{"CERRAR" | translate}}</span><span class="btnCloseCross">&times;</span>
          </button>
        </ng-template> 
      </div>       
    </div>        
    <div class="btnMostrarMas" (click)="getPhotosAll()" *ngIf="this.enableBtn=='true'">{{"CARGAR MAS IMAGENES" | translate}}</div>            
    <div class="btnMostrarMas" (click)="getPhotos()" *ngIf="this.enableBtn=='false'">{{"CARGAR MENOS IMAGENES" | translate}}</div>            
</div>
<app-footer></app-footer>

  