@media (min-width: 576px)
{
    .modal-dialog
    {
        max-width: unset !important;
    }
}

.containerPhotos
{
    width:95vw;
    margin: auto auto;
}

.gridPhotosImgs
{
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:5%;
    row-gap: 5%;
    column-gap: 5%; */
    display: grid;
    grid-template-columns: 31.5vw 31.5vw 31.5vw;
    margin: 1em auto;    
    grid-auto-rows: 20vw;
}

.divPhotos
{
    margin:0.75em;
}

.divPhoto
{
    width: 100%;
    height: 100% !important;
}

img
{   
    /* width:80%;
    margin-top:4%; */
    width:inherit;
    height:inherit;
}

.modal-dialog 
{
    max-width:unset !important;
    width: 75vw !important;    
}

.modal-header
{
    border:none !important;
}

.modal-body
{
    font-family: RalewayReg;
    font-size: 0.5em;
    color: #4A92AC;
    max-width:800px !important;
}


.descr
{
    width: 90%;
    margin: 2% auto;
}

.btnClose
{
    font-size: 0.35em;
    margin-bottom: 0.6em !important;
    color: #4A92AC;
}

.btnCloseCross
{
    font-size: 0.5em;
    padding-left: 0.5em;
    color: #4A92AC;
}


.close
{
    padding-bottom:2vh;
    border:none !important;
    width:fit-content ;
    /* margin: auto auto !important; */
    outline: none !important;    
    position: absolute;
    bottom: 0;
    right: 50px;
}

.closeTitle
{
    margin-right:1em;
}

.divImgModal
{
    text-align: center;
    height: 70%;
    margin-top: 3%;
}

.imgModal
{
    width: 90%;
    height: 100%;
    
}

.btnMostrarMas
{
    background-color:white;
    border:solid #558CB1 2px;
    border-radius: 0%;
    color:#558CB1;
    padding:0.5em 7vw;
    font-family:RalewayLight;
    width:fit-content;
    margin: 4em auto 4em auto;
    font-size:0.6em;
}