div
{   
    display:block;
}

.containerServices
{
    background-color:#5FA1C3;
    color:white;
    text-align:center;
    padding:2em;
}

.capacity
{
    font-family: RalewayThin;        
    font-size:1.2em;
}

.textServices
{
    font-family:RalewayBold;
    font-size:0.8em;
}

.gridServices
{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;  
    padding: 2em 1em 3em 1em;
    row-gap: 10%;
}

.titleService
{
    font-size: 0.65em;
    font-family: RalewayReg;
    padding-top:1em;
}

.service:hover{
    border:solid 1px red;
}

/* MODAL */

#content
{
    color:#4A92AC;
    font-family:RalewayReg;
    font-size:0.5em;
}

.modal-dialog 
{
    max-width:unset !important;
    width: fit-content !important;    
}

.modal-header
{
    border-bottom: solid 1.4px #4A92AC !important;
    width: 95% !important;
    margin: auto auto;   
    display: flex; 
}

.modal-title
{
    font-family: RalewayReg;
    font-size: 0.7em;
    color: #4A92AC;    
}

.divTitleText
{
    margin: auto;
    text-align: left;
    width: 100%;
}

h4
{
    margin: auto auto;
}

.modal-body
{
    font-family: RalewayReg;
    font-size: 0.5em;
    color: #4A92AC;
    max-width:580px;
}

.btnClose
{
    font-size: 0.35em;
    margin-bottom: 1em !important;
    color: #4A92AC;
}

.btnCloseCross
{
    font-size: 0.5em;
    padding-left: 0.5em;
    color: #4A92AC;
}

.close
{
    padding-bottom:1em;
    border:none !important;
    width:fit-content ;
    margin: auto auto !important;
    outline: none !important;    
}

.closeTitle
{
    margin-right:1em;
}