<div class="containerBackgroundServices">
    <div class="divBackgroundWaves">
      <div class="backImg"></div>
      <div class="backgroundWaves"></div>
    </div>
<div class="containerServices" id="services">    
  <div class="capacity">{{"CAPACIDADES" | translate }}</div>
  <div class="textServices">{{"ALGUNOS DE NUESTROS SERVICIOS" | translate }}</div>
<div class="containerGridServices">  
  <div class="gridServices">    
    <div class="service" *ngFor="let service of services" (click)="open(content)">              
      <div class="divTitleImg">
        <div class="divImgService">
          <img class="imgService" src="{{service.serv_img}}" alt="">
        </div>
        <div class="titleService" *ngIf="this.appService.translate.getDefaultLang()=='es'">{{service.serv_name}}
            <!-- <span class="divPlus" *ngIf="this.description=='false'" (click)=showDescription()><i class="fas fa-plus"></i></span>
            <span class="divPlus" *ngIf="this.description=='true'" (click)=hideDescription()><i class="fas fa-minus"></i></span> -->
        </div>
        <div class="titleService" *ngIf="this.appService.translate.getDefaultLang()=='en'">{{service.serv_name_eng}}
            <!-- <span class="divPlus" *ngIf="this.description=='false'" (click)=showDescription()><i class="fas fa-plus"></i></span>
            <span class="divPlus" *ngIf="this.description=='true'" (click)=hideDescription()><i class="fas fa-minus"></i></span> -->
        </div>        
      </div>
      <div class="descripService" *ngIf="this.description=='true'">
          <div *ngIf="this.appService.translate.getDefaultLang()=='es'"><p>{{service.serv_desc_esp}}</p></div>            
          <div *ngIf="this.appService.translate.getDefaultLang()=='en'"><p>{{service.serv_desc_eng}}</p></div>            
      </div>
      <ng-template #content let-modal>
          <div class="modal-header">
            <img class="closeTitle" src="{{service.serv_img_ov}}" alt="">
            <div class="divTitleText" *ngIf="this.appService.translate.getDefaultLang()=='es'"><h4 class="modal-title" id="modal-basic-title">{{service.serv_name}}</h4></div>            
            <div class="divTitleText" *ngIf="this.appService.translate.getDefaultLang()=='en'"><h4 class="modal-title" id="modal-basic-title">{{service.serv_name_eng}}</h4></div>            
          </div>
          <div class="modal-body">
            <div *ngIf="this.appService.translate.getDefaultLang()=='es'"><p>{{service.serv_desc_esp}}</p></div>            
            <div *ngIf="this.appService.translate.getDefaultLang()=='en'"><p>{{service.serv_desc_eng}}</p></div>            
          </div>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="btnClose">{{"CERRAR" | translate}}</span><span class="btnCloseCross">&times;</span>
          </button>
        </ng-template>  
    </div>
  </div>
  <div class="accordionServices">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let service of services">   
          <mat-expansion-panel-header>
            <mat-panel-title><img class="imgService" src="{{service.serv_img}}" alt=""></mat-panel-title>
            <mat-panel-description *ngIf="this.appService.translate.getDefaultLang()=='es'">{{service.serv_name}}</mat-panel-description>
            <mat-panel-description *ngIf="this.appService.translate.getDefaultLang()=='en'">{{service.serv_name_eng}}</mat-panel-description>          
        </mat-expansion-panel-header>                    
            <div *ngIf="this.appService.translate.getDefaultLang()=='es'"><p>{{service.serv_desc_esp}}</p></div>            
            <div *ngIf="this.appService.translate.getDefaultLang()=='en'"><p>{{service.serv_desc_eng}}</p></div>                      
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>
</div>
</div>