.indexAdmin
{
    text-align: left;
    font-size: 2em;
    width: 75%;
    margin: 0.5em;
    color: #818181;
    position: fixed;
    left: 25%;
}


footer {
  height: 8vh;
}

/* header-main,
router-outlet,
footer{
  display: table-row;
}

header-main {
 height: 60px;
}

router-outlet {
  position: absolute;
}
 */