
<div class="divContainerFormClients">
  <div class="titleContainerForm">Administración de clientes</div>
<div class="containerForm">
  <div class="titleForm"><i class="fas fa-plus"></i>AGREGAR CLIENTE NUEVO</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">    
    
    <div class="inputs">
        <div class="divInput">        
            <input type="text" class="inputText" id="name" placeholder="Nombre Cliente" formControlName="name">
        </div>      
    <div class="divInputFile">
      <div class="divInputFile">          
          <input class="inputImg" id="file-upload" type="file" (change)="onFileChange($event)" formControlName="photo_url" #fileInput/>      
      </div>  
      <!-- <label for="file-upload" class="custom-file-upload">
            Seleccionar Archivo
        </label>
        <input id="file-upload" type="file" (change)="onFileChange($event)" #fileInput/>       -->
    </div>
  </div>
  <div class="divButton">
    <button type="submit" [disabled]="form.invalid || loading" class="btnGuardar">AGREGAR <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
  </div>  
  </form>
</div>
</div>
