<div class="divContainerForm">
  <div class="titleForm">Cargar Noticia</div>  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="avatar">Video</label>
      <div class="youtube">https://www.youtube.com/watch?v=<input type="text" id="news_video" name="news_video" value={{news.news_video}} formControlName="news_video"></div>
    </div>
    <div class="divImagen">
        <div class="form-group">        
            <input placeholder="Nombre Foto" type="text" id="newsImagenName" formControlName="news_img_name"  #fileInput>       
        </div>
        <div class="form-group">
            <label for="avatar">Imagen</label>
            <input type="file" id="newsImagen" (change)="onFileChange($event)" formControlName="news_img"  #fileInput>       
        </div>
    </div>
    
    <div class="descr">
        <label for="avatar">Descripcion</label>
      <textarea value={{news.news_desc}} cols="30" rows="10"  formControlName="news_desc"></textarea>
    </div>
    <div class="descr">
        <label for="avatar">Traduccion</label>
      <textarea  value={{news.news_desc}} cols="30" rows="10" formControlName="news_desc_eng"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>  
  </form>
</div>
