.indexAdmin
{
    text-align: left;
    font-size: 2em;
    width: 75%;
    /* margin: 0.5em; */
    padding: 1em;
    color: #818181;
    position: fixed;
    left: 20%;
    border-left: solid 1px #EAEAEA;
    top:8vh;
    height: 100vw;
}

.divImgIndexAdmin
{
    margin-top:0.5em;
}

.divImgIndexAdmin img
{
    width:50%;

}
